#s04-ribbon {
  background-color: #9C27B0;
}

#s04-main {
  flex-direction: column;
  align-items: center;
}

main > hr {
  width: 128px;
}

main {
  text-align: center;
}

main > * {
  max-width: 80%;
}

canvas {
  min-width: 128px;
  outline: 1px solid #CFD8DC;
  image-rendering: pixelated;
}

#rpc_status {
  order: 99;
}
